a {
  text-decoration: none;
  color: inherit;
}

.o-base-width {
  box-sizing: border-box;
  max-width: 1100px;
  margin: auto;
  width: 100%;
}

.o-spacing--horizontal {
  padding-right: 2em;
  padding-left: 2em;
}

.o-spacing--vertical {
  padding-top: 80px;
  padding-bottom: 80px;
}

.o-spacing--vertical + .o-spacing--vertical {
  padding-top: 0;
}

/*Navbar*/

.c-navbar {
  display: flex;
  position: fixed;
  width: 100%;
  padding-top: 1em;
  padding-bottom: 1em;
  font-family: 'Open Sans', sans-serif;
  color: #fff;
  z-index: 2;
  box-shadow: 0 0 0 .5px rgba(225, 225, 225, .7);
  transition: 1s;
}

.c-navbar-container {
  display: flex;
  align-items: center;
  justify-content:  space-between;
  flex-wrap: wrap;
}

.c-navbar-logo {
  transition: 1s;
  cursor: pointer;
}

.c-navbar-menu {
  display: flex;
  align-items: center;
}

.js-menu.is-open {
  visibility: visible;
  opacity: 1;
  transform: scaleY(1);
}

.c-navbar-menu__link {
  margin: 0 1em;
  padding: .5em 0;

  font-size: .9rem;
}

.c-navbar-menu__icons {
  display: flex;
  margin: 0 .5em;
  padding: .5em 0;
}

.c-navbar-menu__icon {
  padding: 0 .9em;
  fill: #fff;
}

.c-navbar-hamburger {
  position: relative;
  width: 60px;
  height: 60px;
  cursor: pointer;
  background-color: rgba(0, 0, 0, .5);
}

.c-navbar-hamburger::before {
  content: '';
  position: absolute;
  left: 10px;
  top: 26px;
  width: 40px;
  height: 7px;
  background-color: #fff;
  box-shadow: 0 -14px 0 0 #fff, 0 14px 0 0 #fff;
  transition: .5s;
}


/*Header*/

.c-header {
  display: flex;
  justify-content: center;
  position: relative;
  background-color: #222;
  overflow: hidden;
  height: 115vh;
  background-image: url("../images/header.jpg");
  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;
}

.c-header-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 110vh;
  position: absolute;
}

.c-header__title {
  text-transform: uppercase;
  color: #fff;
  font-size: calc(100% + 8vw);
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  margin: auto;
}

.c-header__title::after {
  content: 'Lorem ipsum dolor sit';
  display: block;
  padding-top: .8em;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: .8em;
  color: #11749e;
  font-size: .2em;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
}

.c-header__button {
  transform: translateY(-20vh);
}



/*About*/

.c-about {
  font-family: 'Open Sans', sans-serif;
  color: #fff;
  background-color: #11749e;
}

.c-about-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.c-about__title {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 1.9rem;
  position: relative;
  padding: 2em 0 3em 0;
}

.c-about__title::before {
  content: 'W';
  margin: 0 auto;
  font-size: 10rem;
  font-weight: 700;
  position: absolute;
  color: rgba(225, 225, 225, .3);
  z-index: 0;
}

.c-about-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 1.5em;
}

.c-about__card {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-basis: 100%;
  text-align: center;
  flex: 1;
  padding: 1em;
}

.c-about__card-icon {
  fill: #fff;
  padding: 1.3em;
  border-radius: 50%;
  background-color: rgba(225, 225, 225, .2);
}

.c-about__card-title {
  padding-top: 1.5em;
  padding-bottom: 1.5em;
}

.c-about__card-text {
  font-weight: 300;
  font-size: .9rem;
  line-height: 1.5;
}

.c-about__title,
.c-about__card-title {
  text-transform: uppercase;
  font-weight: 500;
}

/*News*/

.c-news {

}

.c-news-post {

}

/*Blog*/

.c-blog {

}

.c-blog-container {

}

.c-blog-cards {

}

.c-blog__card

/*Action*/

.c-action {
  
}

.c-action-container {

}

.c-action__card

/*Feature*/

.c-feature {

}

.c-feature-container {

}

/*Team*/

.c-team {

}

.c-team-container {

}

/*Contact*/

.c-contact {

}

.c-contact-container {

}

/*Map*/

.c-map {

}


/*Footer*/

.c-footer {

}

.c-footer-container {

}

/*Media query*/

@media (max-width: 900px) {
  .c-navbar-menu {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 100%;
    width: 100vw;
    right: 0;
    text-align: center;
    background-color: rgba(17, 17, 17, .9);
    opacity: 0;
    visibility: hidden;
    transition: .3s;
    transform-origin: top center;
    transform: scaleY(.3);
  }

  .c-navbar-menu__link {
    padding: .8em 5em;
    margin: 0;
    font-size: 1.3rem;
  }

  .c-navbar-menu__icons {
    justify-content: space-around;
    order: 2;
    padding-bottom: 1.5em;
    font-size: 1.5rem;
  }

  .c-navbar-hamburger {
    order: 3;
  }

  .c-navbar {
    box-shadow: none;
  }

  .js-navbar.is-clicked {
    background-color: rgba(17, 17, 17, .85);
  }
  
  .c-header {
    height: 100vh;
  }

  .c-header-container {
    height: 90vh;
  }

  .c-about__card {
    flex-basis: 30%;
  }
}

@media (max-width: 500px) {
  .c-about__card {
    flex-basis: 50%;
  }
}


@media (min-width: 900px) {
  .c-navbar-hamburger {
    display: none;
  }

  .js-navbar.add-background {
    box-shadow: 0 0 2px 0 rgba(0, 0, 0, .3);
    transition: 1s;
    padding: .2em;
    background-color: rgba(0, 0, 0, .7);  
  }

  .js-logo.scroll {
    width: 50px;
  }
}