a {
  text-decoration: none;
  color: inherit;
}

.o-base-width {
  box-sizing: border-box;
  max-width: 1100px;
  margin: auto;
  width: 100%;
}

.o-spacing--horizontal {
  padding-right: 2rem;
  padding-left: 2rem;
}

.o-spacing--vertical {
  padding-top: 80px;
  padding-bottom: 80px;
}

.o-spacing--vertical + .o-spacing--vertical {
  padding-top: 0;
}

/*Navbar*/

.c-navbar {
  display: flex;
  position: fixed;
  width: 100%;
  padding-top: 1em;
  padding-bottom: 1em;
  font-family: 'Open Sans', sans-serif;
  color: #fff;
  z-index: 2;
  box-shadow: 0 0 0 .5px rgba(225, 225, 225, .7);
  transition: 1s;
}

.c-navbar-container {
  display: flex;
  align-items: center;
  justify-content:  space-between;
  flex-wrap: wrap;
}

.c-navbar-logo {
  transition: 1s;
  cursor: pointer;
}

.c-navbar-menu {
  display: flex;
  align-items: center;
}

.js-menu.is-open {
  visibility: visible;
  opacity: 1;
  transform: scaleY(1);
}

.c-navbar-menu__link {
  margin: 0 1em;
  padding: .5em 0;

  font-size: .9rem;
}

.c-navbar-menu__icons {
  display: flex;
  margin: 0 .5em;
  padding: .5em 0;
}

.c-navbar-menu__icon {
  padding: 0 .9em;
  fill: #fff;
}

.c-navbar-hamburger {
  position: relative;
  width: 60px;
  height: 60px;
  cursor: pointer;
  background-color: rgba(0, 0, 0, .3);
}

.c-navbar-hamburger::before {
  content: '';
  position: absolute;
  left: 10px;
  top: 26px;
  width: 40px;
  height: 7px;
  background-color: #fff;
  box-shadow: 0 -14px 0 0 #fff, 0 14px 0 0 #fff;
  transition: .5s;
}

.js-navbar.add-background {
    box-shadow: 0 0 2px 0 rgba(0, 0, 0, .3);
    transition: 1s;
    padding-top: .2em;
    padding-bottom: .2em;
    background-color: rgba(0, 0, 0, .7);  
  }


/*Header*/

.c-header {
  display: flex;
  justify-content: center;
  position: relative;
  background-color: #222;
  overflow: hidden;
  height: 115vh;
  background-image: url("../images/header.jpg");
  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;
}

.c-header-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 110vh;
  position: absolute;
}

.c-header__title {
  text-transform: uppercase;
  color: #fff;
  font-size: calc(100% + 8vw);
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  margin: auto;
}

.c-header__title::after {
  content: 'Lorem ipsum dolor sit';
  display: block;
  padding-top: .8em;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: .8em;
  color: #11749e;
  font-size: .2em;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
}

.c-header__button {
  transform: translateY(-20vh);
}


/*About*/

.c-about {
  font-family: 'Open Sans', sans-serif;
  color: #fff;
  background-color: #11749e;
}

.c-about-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.c-about__title {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 1.9rem;
  position: relative;
  padding: 2em 0 3em 0;
}

.c-about__title::before {
  content: 'W';
  margin: 0 auto;
  font-size: 10rem;
  font-weight: 700;
  position: absolute;
  color: rgba(225, 225, 225, .3);
  z-index: 0;
}

.c-about-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 1.5em;
}

.c-about__card {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-basis: 100%;
  text-align: center;
  flex: 1;
  margin: 1em;
}

.c-about__card-icon {
  fill: #fff;
  padding: 1.3em;
  border-radius: 50%;
  background-color: rgba(225, 225, 225, .2);
}

.c-about__card-title {
  padding-top: 1.5em;
  padding-bottom: 1.5em;
}

.c-about__card-text {
  font-size: .9rem;
  line-height: 1.5;
}

.c-about__title,
.c-about__card-title {
  text-transform: uppercase;
  font-weight: 500;
}

/*News*/

.c-news {
  display: flex;
  flex-wrap: wrap;
}

.c-news-post {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  background-color: #11749e;
}

.c-news-post--grey {
  background-color: #222;
  color: #fff;
}

.c-news-post--white {
  background-color: #f3f3f3;
  color: #111;
}

.c-news-photo {
  max-width: 50%;
  height: auto;
  align-self: center;
}

.c-news__text {
  display: flex;
  align-self: stretch;
  max-width: 50%;
  font-family: 'Open Sans', sans-serif;
}


.c-news__text-container {
  display: flex;
  flex-direction: column;
  margin: auto;
  padding: 1.5em 2em;
}

.c-news__text-date {
  padding-bottom: 1em;
  font-weight: 300;
  font-size: .75rem;
}

.c-news__text-title {
  padding-bottom: 1em;
  font-weight: 500;
  font-size: 1.5rem;
  text-transform: uppercase;
}

.c-news__text-content {
  padding-top: 1em;
  padding-bottom: 1em;
  font-size: .9rem;
  line-height: 1.5;
}


/*Blog*/

.c-blog {
  font-family: 'Open Sans', sans-serif;
  line-height: 1.5;
  color: #111;
  background-color: #fff;
}

.c-blog-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 3em;
}

.c-blog__title {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 1.9rem;
  text-transform: uppercase;
  font-weight: 500;
  position: relative;
  padding: 2em 0 3em 0;
  z-index: 0;
}

.c-blog__title::before {
  content: 'B';
  margin: 0 auto;
  font-size: 10rem;
  font-weight: 700;
  position: absolute;
  color: rgba(0, 0, 0, .2);
  z-index: -1;
}

.c-blog__subtitle {
  font-size: 1.2rem;
  padding-bottom: 3em;
  text-align: center;
}

.c-blog-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.c-blog__card {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  flex: 1;
  padding: 1em .5em;
}

.c-blog__card-photo {
  width: 150px;
  height: 150px;
}

.c-blog__card-title {
  text-transform: uppercase;
  font-weight: 600;
  color: #11749e;
  padding-top: 1.5em;
  padding-bottom: 1em;
}


.c-blog__card-content {

}

/*Action*/


.c-action {
  background-color: #11749e;
  color: #fff;
  font-family: 'Open Sans', sans-serif;
  font-size: .9rem;
  line-height: 1.5;
}

.c-action-container {
  display: flex;
  flex-wrap: wrap;
}

.c-action__card {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
  padding: 1em;
}

.c-action__card-text {
  padding: 1em;
  text-align: center;
}



.c-action__card-icon {
  /*padding-right: .5em;*/
  fill: #fff;
}

/*Feature*/

.c-feature {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  background-color: #222;
  overflow: hidden;
  height: 115vh;
  background-image: url("../images/background1.jpg");
  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;
  color: #fff;
  font-family: 'Open Sans', sans-serif;
}

.c-feature-container {
  display: flex;
  justify-content: space-between;
  
}

.c-feature__image {
  width: 250px;
  height: 500px;
  padding: .5rem;
}

.c-feature__text {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.c-feature__text-title {
  text-transform: uppercase;
  font-size: 1.2rem;
  font-weight: 600;
}

.c-feature__text-content {
  line-height: 1.5;
  font-size: .8rem;
  padding-top: 2rem;
  padding-bottom: 3rem;
}

.c-feature__text-list {

}

.c-feature__text-option {
  margin-top: 1rem;
  padding: .5rem;
  background-color: #11749e;
  text-transform: uppercase;
  font-size: .8rem;
  font-weight: 600;
}

.c-feature__text-option--short {
  width: calc(5rem + 14vw);
}

.c-feature__text-option--medium {
  width: calc(5rem + 15vw);
}

.c-feature__text-option--long {
  width: calc(5rem + 16vw);
}

/*Team*/
 

/*Contact*/

.c-contact {
  display: flex;
  justify-content: center;
  position: relative;
  background-color: #222;
  overflow: hidden;
  height: 110vh;
  background-image: url("../images/background2.jpg");
  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;
}

.c-contact-container {

}

/*Map*/

.c-map {
  height: 400px;
}


/*Footer*/

.c-footer {
  background-color: #222;
  color: #fff;
  font-family: 'Open Sans', sans-serif;
  line-height: 1.5;
}

.c-footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  padding: 3em 0;
}

.c-news__text-content,
.c-about__card-text,
.c-action__card-text,
.c-blog__card-content,
.c-feature__text-content {
   font-weight: 300;
}

/*Media queries*/

@media (max-width: 900px) {
  .o-spacing--horizontal {
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .c-navbar-menu {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 100%;
    width: 100vw;
    right: 0;
    text-align: center;
    background-color: rgba(17, 17, 17, .85);
    opacity: 0;
    visibility: hidden;
    transition: .3s;
    transform-origin: top center;
    transform: scaleY(.3);
  }

  .c-navbar-menu__link {
    padding: .8em 5em;
    margin: 0;
    font-size: 1.3rem;
  }

  .c-navbar-menu__icons {
    justify-content: space-around;
    order: 2;
    padding-bottom: 1.5em;
    /*font-size: 1.5rem;*/
  }

  .c-navbar-hamburger {
    order: 3;
  }

  .c-navbar {
    box-shadow: none;
  }

  .js-navbar.is-clicked {
    background-color: rgba(17, 17, 17, .85);
  }
  
  .c-header {
    height: 100vh;
  }

  .c-header-container {
    height: 90vh;
  }

  .c-about-cards {
    margin: 0;
  }

  .c-about__card {
    flex-basis: 30%;
  }

  .c-news-post {
    flex-direction: column;
  }

  .c-news__text-container {
    padding: 1.5em 2em;
  }

  .c-news__text {
    order: 1;
    min-width: 100vw;
  }

  .c-news__text-date {
    font-size: 1.2rem;
    padding-top: 1.5em;
    padding-bottom: 1.5em;
    text-align: center;
  }

  .c-news__text-title {
    padding-bottom: 1.5em;
    text-align: center;
  }

  .c-news__text-content {
    padding-top: 0;
}

  .c-news-photo { 
    order: 2;
    max-width: 100vw;
  }

  .c-action__card-text {
    padding: 0;
  }

  .c-action__card {
    flex-direction: column;
    padding: 0;
    box-sizing: border-box;
  }

  .c-action__card-icon {
    padding-top: 1em;
    padding-bottom: 1em;
  }

  .c-news__text-content,
  .c-about__card-text,
  .c-action__card-text,
  .c-blog__card-content,
  .c-feature__text-content {
    font-size: 1rem;
  }
  
  .c-news__text-title,
  .c-about__card-title,
  .c-blog__card-title,
  .c-feature__text-title {
    font-size: 1.2rem;
  }


}

@media (max-width: 500px) {
  .o-spacing--horizontal {
    padding-left: .6rem;
    padding-right: .6rem;
  } 

  .c-about__card {
    flex-basis: 50%;
  }


  .c-about__card-title {
    padding-bottom: 1em;
  } 

  .c-action__card {
    padding-bottom: 1em;
  }
  
  .c-feature {
    height: 170vh;
  }

  .c-feature-container {
    flex-direction: column;
    align-items: center;
  }

  .c-feature__text {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .c-feature__text-title {
    padding-bottom: 1rem;
  }

  .c-feature__text-content {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }

  .c-feature__text-option {
    width: 70vw;
  }

  .c-feature__image {
    padding-top: 2rem;
  }

  .c-footer-container {
    flex-direction: column;
  }
  
  

}

@media (max-width: 320px) {
  .c-action__card {

  }
}


@media (min-width: 900px) {
  .c-navbar-hamburger {
    display: none;
  }

  .js-logo.scroll {
    width: 50px;
  }

  .c-news__text-container--grey {
    box-sizing: border-box;
    padding-left: 10vw;
  }

  .c-news__text-container--white {
    box-sizing: border-box;
    padding-right: 10vw;
  }

  .c-feature__text-content {
    max-width: 60%;
  }
}